

body {
	text-align: center;
	background: url("../images/notebook-image-large.jpg");
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 300;
	background-repeat: repeat;
	margin-top: 50;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	font-size: 50px;
	color: #d02230;
	padding-bottom: 70px;
}


#slogan {
		font-weight: 600;
		font-family: 'Quattrocento', serif;
		font-size: 30px;
		line-height: 50px;
	}

ul {
	display: inline-block;
	text-align: left;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}

a:hover{
	color: #d02230;
}

.content {
	text-align: center;
	padding: 10px;
	border: none;
	width: 450px;
	background-color: rgba(255,255,255,0.95);
	margin: auto;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #DCDCDC;
}